* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: black;
}

body {
  overflow-y: scroll;
}

.header-wrapper {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(51, 212, 233, 0.452);
}

.header {
  position: relative;
  margin: 0 auto;

  height: 5rem;
  max-width: 140rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 2rem;
}

.header-info {
  display: flex;
  gap: 2rem;
}

.moon-svg {
  width: 3rem;
  stroke: purple;
  fill: rgb(127, 255, 170);
  cursor: pointer;
}

.header-text {
  font-size: 2rem;
}
.wf-link {
  text-decoration: none;
  color: rgb(0, 200, 255);
  font-size: 2rem;
}

.height-7rem {
  height: 7rem;
}

.logo {
  position: relative;
  width: 5.7rem;
}
.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50rem;
  z-index: 2;
}

.search-bar {
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 1.5rem 1.5rem;
  font-size: 1.5rem;
  background-color: rgb(247, 241, 241);
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  animation: shadowAnimation 1.5s linear infinite;
}
.search-bar:focus {
  outline: none;
}

.search-bar::placeholder {
  color: black;
  font-size: 1.5rem;
  text-align: center;
}
.autosuggestion-list {
  position: absolute;
  width: 100%;
}
.list {
  text-align: center;
  padding: 5px 10px;
  list-style: none;
  font-size: 1.5rem !important;
  background-color: white;
  cursor: pointer;
}
.list:hover {
  background-color: rgb(237, 231, 231);
}
.list b{
  font-size: 1.5rem !important;

}

.buttons {
  display: flex;
  gap: 2rem;
}
.btn {
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}
.sign-up {
  background-color: rgb(80, 224, 80);
}
.sign-up:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(80, 224, 80);
}
.log-in {
  background-color: rgb(101, 101, 229);
}
.log-in:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(101, 101, 229);
}

section {
  position: relative;
  height: 300vh;
  background-color: rgb(247, 241, 241);
  z-index: 1;
}

.grid {
  position: relative;
  max-width: 140rem;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto 5rem auto;
  column-gap: 5rem;
  background-color: inherit;
  padding: 4rem 2rem;
}

.parent-slider {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  overflow: hidden;
}

.slider {
  position: absolute;
  bottom: 0;
  height: 75%;
  width: 100%;
  border-radius: inherit;
  padding: 2rem;

  display: flex;
  justify-content: center;
  transition: all 1s ease;
}

.dots {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.1rem;
}
.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.397);
  cursor: pointer;
}
.active {
  background-color: black;
}
.slider-title {
  font-size: 2rem;
}

.icon {
  width: 2.8rem;
}

.center-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-style {
  max-width: 35rem;

  margin: 1rem auto 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.more {
  color: rgb(53, 109, 239);
  text-decoration: none;
  font-size: 1.4rem;
}

ol li {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.list {
  color: black !important;
}
.news-link {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.news {
  margin-bottom: 1rem !important;
}

li:last-child {
  margin-bottom: 0rem;
}

.filters {
  max-width: 140rem;
  height: 7.77rem;
  /*background-color: bisque;*/
  margin: 0 auto;
  font-size: 4rem;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.select-filter {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}
.select-filter:focus {
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

table {
  max-width: 1400px;
  width: 100%;

  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: none;
}
th {
  position: sticky;
  top: 0;
  text-align: left;
  font-weight: bold;
  padding: 18px;
  background-color: rgba(0, 234, 255, 0.5);
  backdrop-filter: blur(5px);
  font-size: 1.3rem;
  z-index: 10;
}
td {
  padding: 18px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 1.3rem;
}
td:first-child,
th:first-child {
  text-align: center;
}
/*
td:nth-child(n + 4),
th:nth-child(n + 4) {
  text-align: right;
}*/

.col.info p:nth-child(1) {
  position: absolute;
}
.col.info p:nth-child(2) {
  position: absolute;
  left: 2rem;
}
.col.info p:nth-child(3) {
  position: absolute;
  left: 30rem;
}
.col.info p:nth-child(4) {
  position: absolute;
  left: 61rem;
}
.col.info p:nth-child(5) {
  position: absolute;
  left: 76rem;
}
.col.info p:nth-child(6) {
  position: absolute;
  left: 83rem;
}
.col.info p:nth-child(7) {
  position: absolute;
  left: 92rem;
}

.hidden {
  display: none;
}

.overlay-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 5;
}
.module {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 40rem;
  box-shadow: 0 3rem 5rem #00000053;

  padding: 5rem;
  z-index: 10;
  background-color: aliceblue;
}

.login{
  background-image: linear-gradient(to bottom left,rgb(211, 211, 249),white);
  width: 60rem;
  height: 40rem;
}


.module h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.module p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.module ul {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.module i {
  font-size: 1.5rem;
}
.module a {
  font-size: 2rem;
  color: blue;
}

.module.welcome {
  width: 80rem;
  height: 50rem;
  border-radius: 1rem;
  background-color: rgb(14, 9, 115);
  border: 3px solid aqua;
  text-align: center;
}


.module.welcome h1 {
  font-size: 5rem;
  color: white;
}

.module.welcome p {
  font-size: 1.2rem;
  color: white;
}

.form-grid{
  text-align:left;
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color:white;
  margin-top: 7rem;
}

.form-grid input{
  padding: 1rem 2rem;
  font-size: 1.7rem;
  width:100%
}
.form-grid div label{
  display:block;
  font-size: 2rem;
  color:white;
  margin-bottom: 1rem;
}
.form-grid button{
  height:70%;
  font-size: 1.7rem;
  align-self: flex-end;
  cursor:pointer;
}
.form-grid button:hover{
  background-color: aquamarine;
}

.d3_miniGraph{

  position:absolute;
  height:100%;
  width:100%;
  top:0;
  text-align:center;
  z-index: -1;


}

.padding_zero{
  position:relative;
  padding:0
  

}

.author{
  font-size:0.8rem;

}
.flex{
  display:flex;
  gap:2rem;
}




.redirect{
  cursor:pointer;
  font-size: 1.2rem;
  text-decoration: none;
}

.redirect:hover{
  text-decoration:underline;
}